<nav>
  <ul>
    <li><a routerLink="/movie-card" routerLinkActive="active">Movies</a></li>
    <li><a routerLink="/user-profile" routerLinkActive="active">Profile</a></li>
    <!-- Trigger the logout method -->
    <li><a (click)="logout()">Logout</a></li>
    <li>
      <!-- Form with search input field and button in nav bar. ngSubmit event triggers onSearch() method when form is submitted -->
      <form (ngSubmit)="onSearch()">
        <input type="text" [(ngModel)]="searchTerm" name="search" placeholder="Search movies by title..."
          aria-label="Search movies" />
        <button type="submit">Search</button>
      </form>
    </li>
  </ul>
</nav>

<!-- This loads the component based on routing -->
<router-outlet />