// Custom Theming for Angular Material

// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include imports for other components in your app if needed.

// Load common Angular Material styles
// Note: Include this mixin only once to avoid duplication of styles.
@include mat.core();

// Define the custom theme for the app using Material's theming system.
$myFlix-Angular-client-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

// Apply the theme styles globally to all Material components in the app.
// Ensures a consistent look and feel across the app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
:root {
  @include mat.all-component-themes($myFlix-Angular-client-theme);
}

// Global styles can be added here or imported from other style files.
html,
body {
  height: 100%; // Ensure full height for the app
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; // Set global font
}