<div class="user-profile-container">
  <h1 class="user-profile-title">User Profile</h1>

  <div class="display-user-info-section">
    <h2>User Info</h2>
    <p>Username: </p>
    <p>Password: </p>
    <p>Email: </p>
    <p>Birthday: </p>
  </div>

  <div class="update-user-info-section">
    <h2>Update User Info</h2>
    <div class="update-user-info">
      <p>Username: </p>
      <p>Password: </p>
      <p>Email: </p>
      <p>Birthday: </p>
    </div>
  </div>

  <div class="fav-movies-list">
    <h2>Favorite Movies List</h2>
  </div>
</div>